@charset "utf-8";

// modal setting
.jquery-modal.blocker {
	z-index: 99;
}

// top
.top {
	#global-head {
		margin-bottom: 0;
	}
	.top-content01 {
		margin-top: 7.142%;
		.menu {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: nowrap;
					flex-wrap: nowrap;
			-webkit-box-pack: justify;
				 -ms-flex-pack: justify;
			 justify-content: space-between;
			li {
				width: 28.571%;
				img {
					width: 100%;
				}
			}
		}
		.btn {
			margin-top: 8.571%;
		}
	}

	.top-content02 {
		margin-top: 16.071%;
		.title01 {
			margin-bottom: 0;
		}
		.point-list {
			margin-top: 6.785%;
			padding: 5.357% 7.142%;
			background-color: #fff;
			li {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: nowrap;
						flex-wrap: nowrap;
				-webkit-box-pack: justify;
					 -ms-flex-pack: justify;
				 justify-content: space-between;
				padding: 4.583% 0;
				border-bottom: 2px dashed #934591;
				figure {
					width: 37.5%;
					img {
						width: 100%;
					}
				}
				.point {
					width: 54.166%;
				}
				h3 {
					min-height: 36.666%;
					@include fontsize(28);
					line-height: 1.2;
					font-weight: 700;
				}
				p {
					line-height: 1.05;
					&.date {
						margin-top: 6.923%;
						@include fontsize(30);
					}
					&.get {
						margin-top: 7.692%;
						padding-left: 21.153%;
						background-image: url("../img/common/icon-point.svg");
						background-position: 0 50%;
						background-repeat: no-repeat;
						background-size: auto 100%;
						@include fontsize(40);
						font-weight: 700;
					}
				}
			}
		}
	}
}

// challenge_point
.challenge-point {
	#global-head {
		margin-bottom: 0;
		padding-bottom: 0;
		.sort-nav {
			background: rgba(#fff, .4);
			@include fontsize(0);
			li {
				padding: 0 0.781%;
				display: inline-block;
				color: #029091;
				@include fontsize(23);
				line-height: 2.391;
				font-weight: 700;
				vertical-align: top;
				cursor: pointer;
				&:not(:first-child) {
					margin-left: 1.562%;
				}
			}
		}
	}
	.map-btn {
		margin-bottom: 14.062%;
		a {
			display: block;
			background-color: #029091;
			color: #fff;
			@include fontsize(23);
			line-height: 3.26;
			font-weight: 700;
			span {
				display: block;
				width: $container_width / $base_body_width * 100%;
				margin: 0 auto;
				background-image: url(../img/common/icon-arrow02.svg);
				background-position: 100% 50%;
				background-repeat: no-repeat;
				background-size: auto 46.666%;
			}
		}
	}
	.shop-list {
		width: 100%;
		margin: 0 auto;
		li {
			&.list-item {
				width: 150px;
				padding: 0 5px 15px;
				&.test {
					display: none;
				}
			}
			a {
				overflow: hidden;
				display: block;
				background-color: #fff;
				box-shadow: 0 0 8px #b1caca;
				border-radius: 7px;
				figure {
					img {
						width: 100%;
					}
				}
				h3 {
					padding: 10px 10px 0;
					font-size: 14px;
					font-weight: 700;
				}
				p {
					padding: 0 10px 10px;
					font-size: 12px;
					line-height: 1.4;
				}
			}
		}
	}
}

// roulette
.roulette-first {
	form.questionnaire {
		input[type=radio] {
			display: none;
		}
		input[type="radio"]:checked + label {
			background-color: #029091;
			color: #fff;
		}
		.btn {
			margin-top: 1em;
			input[type="submit"] {
				display: block;
				width: 100%;
				padding: 0 6.785%;
				background-color: #934591;
				border-radius: 7px;
				font-family: $font_sawarabi_mincho;
				color: #fff;
				@include fontsize(28);
				line-height: 4.785;
				font-weight: 700;
				text-align: center;
			}
			input[type="submit"]:disabled {
				background-color: #f8e6f6;
				cursor: default;
			}
		}
	}
}

.roulette,
.roulette-sp {
	.spinner {
		position: relative;
    width: 100%;
    height: 0;
		padding-top: 100%;
    background-image: url(../img/roulette/roulette01.svg);
    background-repeat: no-repeat;
    background-position: center center;
		background-size: 100%;
	}
	.ball {
		position: absolute;
		z-index: 80;
		width: 11.785%;
		height: 100%;
		left: 44.107%;
		top: 0em;
		transform: rotate(360deg);
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		-o-background-size: 100% 100%, auto;
		-moz-background-size: 100% 100%, auto;
		-webkit-background-size: 100% 100%, auto;
		background-size: 100% 100%, auto;
		.pointer {
			height: 18.571%;
			transform: rotate(360deg);
			background-image: url(../img/roulette/pointer01.svg);
			background-repeat: no-repeat;
			margin-top: 313.636%;
			/* background-attachment: fixed; */
			-o-background-size: 100% 100%, auto;
			-moz-background-size: 100% 100%, auto;
			-webkit-background-size: 100% 100%, auto;
			background-size: 100% 100%, auto;
		}
	}
	.btn {
		margin-top: (40px / $container_width * 100%) !important;
		.button {}
		.spinbutton {
			-webkit-animation: glowing 2000ms infinite;
			-moz-animation: glowing 2000ms infinite;
			-o-animation: glowing 2000ms infinite;
			animation: glowing 2000ms infinite;
		}
		.disbutton {
			@include opacity(0);
		}
		.getbutton {}
	}
	
	#win {
		margin-bottom: (20px / $container_width * 100%) !important;
		@include fontsize(40);
		font-weight: 900;
		text-align: center;
		&.winlose,
		&.hit {
			color: #ff0000;
		}
		&.miss {
			color: #000;
		}
		&.result {
			-webkit-animation: glowing 1000ms infinite;
			-moz-animation: glowing 1000ms infinite;
			-o-animation: glowing 1000ms infinite;
			animation: glowing 1000ms infinite;
			animation-iteration-count: 3;
		}
	}
	@-webkit-keyframes glowing {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}
	@-moz-keyframes glowing {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}
	@-o-keyframes glowing {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}
	@keyframes glowing {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}
	
	.modal {
		&.hit {
			padding: (120px / $container_width * 100%) (30px / $container_width * 100%) (50px / $container_width * 100%);
			@include bg_cover("../img/roulette/hit-bg01.png");
			background-position: 50% 0;
			text-align: center;
			.title {
				margin-bottom: (15px / 500px * 100%) !important;
				color: #ff0000;
				@include fontsize(40);
				font-weight: 900;
			}
			> figure {
				width: 54%;
				margin: 0 auto;
				img {
					width: 100%;
				}
			}
			> p {
				line-height: 1.333;
				font-weight: 900;
			}
		}
		&.miss {
			padding: (95px / $container_width * 100%) (30px / $container_width * 100%) (50px / $container_width * 100%);
			@include bg_cover("../img/roulette/miss-bg01.png");
			background-position: 50% 0;
			text-align: center;
			.title {
				color: #fff;
				@include fontsize(40);
				font-weight: 900;
				text-shadow: #000 2px 0px,  #000 -2px 0px,
										 #000 0px -2px, #000 0px 2px,
										 #000 2px 2px , #000 -2px 2px,
										 #000 2px -2px, #000 -2px -2px,
										 #000 1px 2px,  #000 -1px 2px,
										 #000 1px -2px, #000 -1px -2px,
										 #000 2px 1px,  #000 -2px 1px,
										 #000 2px -1px, #000 -2px -1px;
			}
			> p {
				margin-top: (60px / 500px * 100%) !important;
				line-height: 1.333;
				font-weight: 900;
			}
		}
	}
}
.roulette {
	.spinner {
    background-image: url(../img/roulette/roulette01.svg);
	}
	.ball {
		.pointer {
			background-image: url(../img/roulette/pointer01.svg);
		}
	}
}
.roulette-sp {
	.spinner {
    background-image: url(../img/roulette/roulette02.svg);
	}
	.ball {
		.pointer {
			background-image: url(../img/roulette/pointer02.svg);
		}
	}
}
