@charset "utf-8";

// footer
#global-foot {
	margin-top: 25%;
	padding: 0 0 3.125%;
	background: #934591;
	nav {
		padding: 5.357% 0 8.928%;
		background: #f8e6f6;
		@include fontsize(30);
		line-height: 1.6;
		ul {
			li {
				border-bottom: 1px solid $color_text;
				a {
					display: block;
					padding: 0 3.928%;
				}
			}
		}
	}
	.privacy {
		margin-top: 3.571%;
		color: #fff;
		@include fontsize(24);
		line-height: 1.2;
		text-align: center;
		a {
			color: #fff;
		}
	}
	.copylight {
		display: block;
		margin-top: 1.785%;
		color: #fff;
		@include fontsize(22);
		line-height: 1.2;
		text-align: center;
	}
}

#page-top {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 10%;
	a {
		display: block;
	}
	img {
		width: 100%;
	}
}
